:root {
  font-family: 'Ubuntu', 'Times New Roman', Calibri, Tahoma, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-color: rgba(255, 255, 255, 0.87);
  --color-1: #201818;
  --color-2: #3e333b;
  --color-3: #2e4446;
  --color-4: #23777f;
  --gradient-1: linear-gradient(
    -45deg,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4)
  );

  background: var(--gradient-1);
  background-size: 400% 400%;
  animation: backgroundAnimate 10s ease infinite;
  color-scheme: light dark;
  color: var(--font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body:not(#doc-previewer) ul {
  list-style: none;
}

@keyframes backgroundAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#paper{
  background-color: white;
  color: black;
  padding: 1em;
  overflow: hidden;
  overflow-wrap: break-word;
}

#general-edits-preview{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, max-content);
}

#full-name-preview{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
}

#gen-edits-row-2{
  display: grid;
  justify-content: end;
  align-items:end;
  grid-template-columns: 1fr 1fr;
  font-size: x-small;
}

#email{
  text-align: left;
}

#github{
  text-align: right;
}
